html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2d2a26;
  overflow: hidden;
}

.display {
  position: absolute;
  padding: 0;
  margin: auto;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 500px;
}

#cy {
  width: 300px;
  height: 300px;
  display: block;
}

#canvas {
  padding: 0;
  margin: auto;
  background-color: #98b4c2;
}

#tape-container {
  width: 100%;
  display: inline-block;
}

.tape-direction {
  width: 10%;
}

#tape-left {
  float: left;
}

#tape-right {
  float: right;
}

#tape {
  width: 80%;
  border: 1px solid black;
  background-color: #A79F6D;
  text-align: center;
  border-collapse: collapse;
  font-size: 20px;
}

.tape-box {
  border: 1px solid black;
}


#run {
  float: right;
}

#add_transition {
  color: #98B4C2;
}

#add_transition > input {
  font: 100% Lucidia Console, monospace;
}
