body {
  background-color: lightgray;
}

#cy {
  background-color: white;
  height: 60vh;
}

.backward {
    transform: scale(-1, 1);
}

#tape {
  width: 100%;
  border: 1px solid black;
  background-color: #CCC5B5;
  text-align: center;
  border-collapse: collapse;
  font-size: 20px;
}

.tape-box {
  text-align: center;
  border: 1px solid black;
}

#add-success-state, #run {
  background-color: green;
  border-color: green;
}

#add-failure-state {
  background-color: red;
  border-color: red;
}

#tape-left {
  float: left;
}

#tape-right {
  float: right;
}

#add_transition > input {
  font: 100% Lucidia Console, monospace;
}

#result {
  text-align: center;
  width: 100%;
}

#result.success {
  color: green;
}

#result.error, #result.failure {
  color: red;
}

.controls {
  text-align: center;
}
