html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2d2a26;
  overflow: hidden;
}

.display {
  position: absolute;
  padding: 0;
  margin: auto;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 500px;
}

#canvas {
  padding: 0;
  margin: auto;
  background-color: #98b4c2;
}

#run {
  float: right;
}

#add_transition {
  color: #98B4C2;
}

#add_transition > input {
  font: 100% Lucidia Console, monospace;
}
